# ========================================================
# CONFIGURAÇÕES DO Pod e Mais
# ========================================================

# 1. URL da sua API (onde o WebSocket está rodando)
# Se estiver rodando localmente, deixe http://localhost:3000
API_URL=http://localhost:3000

# 2. ID da Loja / Vape Shop
# Isso é importante para que o WebSocket saiba para qual Agent mandar o pedido.
STORE_ID=1
